<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
  <link rel="stylesheet" href="/static/css/bootstrap3.0.2.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
  <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
  <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>

  <title><%=title%></title>

</head>
<body>

<script type="text/javascript">
    $(function() {
        requestCompanyInfo();
        requestOrgInfo();
        btnClickLogic();
    });
</script>

<!--<ul>-->
  <!--<% results.forEach(function(result){ %>-->
  <!--<li><strong> content: <%= result.get('content') %>  status: <%= result.get('status') %> author: <%= result.get('author') == null ? '' : result.get('author').get('username') %>.</strong></li>-->
  <!--<% }) %>-->
<!--</ul>-->

<div style="margin:20px 0;"></div>
<div class="easyui-layout" style="width:100%;height:1000px;">
  <div data-options="region:'north'" style="height:50px">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
          方旭科技
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/"><%=user.get('username')%></a></li>
        <li><a href="/about">注销</a></li>
      </ul>
    </div>
  </div>

  <div data-options="region:'west',split:true" style="width:300px;">
    <div class="easyui-accordion" data-options="fit:true,border:false">
      <div id="ddd" title="组织结构" data-options="selected:true" style="padding:10px;">
        <ul id="tt" class="easyui-tree" data-options="animate:true,lines:true"></ul>
      </div>
      <div title="成员管理" style="padding:10px;">
        content2
      </div>
      <div title="Title3" style="padding:10px">
        content3
      </div>
    </div>
  </div>
  <div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
    <div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
      <div title="About" id="aa" style="padding:10px">ddd</div>
      <div title="DataGrid" style="padding:5px">
          <button type="button" id="btnAdd" class="btn btn-success" onclick="$('#dia-add-new').window('open')">新增</button>
          <button type="button" id="btnModify" class="btn btn-success" onclick="$('#dia-modify-org').window('open')">修改</button>
          <button type="button" id="btnDel" class="btn btn-success" onclick="$('#dia-del-org').window('open')">删除</button>
          <p> </p>

        <div id="dia-add-new" class="easyui-window" title="新增组织" data-options="modal:true,closed:true,iconCls:'icon-add'" style="width:300px;height:180px;padding:10px;">
          <form name="formaddneworg" style="padding:10px 20px 10px 40px;">
            <p>组织名称: <input  id="edit-add-org-name" type="text" name="name"></p>
            <p>上级组织: <input  id="edit-add-org-upper"  type="text" name="uppername" value=""></p>
            <div style="padding:5px;text-align:center;">
              <a id="btn-add-org-ok" class="easyui-linkbutton" icon="icon-ok">Ok</a>
              <a id="btn-add-org-cancel" class="easyui-linkbutton" icon="icon-cancel" onclick="$('#dia-add-new').window('close')">Cancel</a>
            </div>
          </form>
        </div>

        <div id="dia-modify-org" class="easyui-window" title="修改组织" data-options="modal:true,closed:true" style="width:300px;height:180px;padding:10px;">
          <form name="formmdyorg" style="padding:10px 20px 10px 40px;">
            <p>组织名称: <input  id="edit-mdy-org-name" type="text" name="name"></p>
            <p>上级组织: <input id="edit-mdy-org-upper" type="text" name="uppername"  value=""></p>
            <div style="padding:5px;text-align:center;">
              <a id="btn-mdy-org-ok" class="easyui-linkbutton" icon="icon-ok">Ok</a>
              <a id="btn-mdy-org-cancel" class="easyui-linkbutton" icon="icon-cancel" onclick="$('#dia-modify-org').window('close')">Cancel</a>
            </div>
          </form>
        </div>

        <div id="dia-del-org" class="easyui-window" title="删除组织" data-options="modal:true,closed:true" style="width:300px;height:130px;padding:10px;">
            <p>将删除该组织及其下属所有的子组织机构，确定要删除吗？</p>
            <div style="padding:5px;text-align:center;">
              <a id="btn-del-org-ok" class="easyui-linkbutton" icon="icon-ok">Ok</a>
              <a id="btn-del-org-cancel" class="easyui-linkbutton" icon="icon-cancel" onclick="$('#dia-del-org').window('close')">Cancel</a>
            </div>
        </div>

        <table class="easyui-datagrid" id="dg"
               data-options="singleSelect:true,fit:true,fitColumns:true">
          <thead>
          <tr>
            <th data-options="field:'name'" width="150">组织名称</th>
            <th data-options="field:'upperOrganization'" width="100">上级组织</th>
            <!--<th data-options="field:'organizationLevel'" width="80">组织层级</th>-->
            <th data-options="field:'createdAt'" width="80">创建时间</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div data-options="region:'south',split:true" style="height:50px;"></div>

</div>

</body>
</html>