<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
  <link rel="stylesheet" href="/static/css/bootstrap3.0.2.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
  <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
  <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
  <!--<script type="text/javascript" src="/static/js/updatedata.js"></script>-->

  <title><%=title%></title>

</head>
<body>

<!--<ul>-->
  <!--<% results.forEach(function(result){ %>-->
  <!--<li><strong> content: <%= result.get('content') %>  status: <%= result.get('status') %> author: <%= result.get('author') == null ? '' : result.get('author').get('username') %>.</strong></li>-->
  <!--<% }) %>-->
<!--</ul>-->

<!--<btn id="flip">-->
  <!--dddddddd-->
<!--</btn>-->

<div style="margin:20px 0;"></div>
<div class="easyui-layout" style="width:100%;height:1000px;">
  <div data-options="region:'north'" style="height:50px">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
          方旭科技
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/"><%=user.get('username')%></a></li>
        <li><a href="/about">注销</a></li>
      </ul>
    </div>
  </div>

  <div data-options="region:'west',split:true" style="width:300px;">
    <div class="easyui-accordion" data-options="fit:true,border:false">
      <div id="ddd" title="组织结构" data-options="selected:true" style="padding:10px;">
        <ul id="tt" class="easyui-tree" data-options="animate:true,lines:true"></ul>
      </div>
      <div title="成员管理" style="padding:10px;">
        content2
      </div>
      <div title="Title3" style="padding:10px">
        content3
      </div>
    </div>
  </div>
  <div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
    <div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
      <div title="About" id="aa" style="padding:10px">ddd</div>
      <div title="DataGrid" style="padding:5px">
          <button type="button" id="btnAdd" class="btn btn-success" onclick="$('#dia-add-new').window('open')">新增</button>
          <p> </p>
        <div id="dia-add-new" class="easyui-window" title="新增组织" data-options="modal:true,closed:true,iconCls:'icon-add'" style="width:300px;height:180px;padding:10px;">
          <form style="padding:10px 20px 10px 40px;">
            <p>组织名称: <input type="text" name="name"></p>
            <p>上级组织: <input type="text" name="uppername" id="edit-upper-org" value=""></p>
            <div style="padding:5px;text-align:center;">
              <a href="#" id="btn-add-org-ok" class="easyui-linkbutton" icon="icon-ok">Ok</a>
              <a href="#" type="submit" id="btn-add-org-cancel" class="easyui-linkbutton" icon="icon-cancel" onclick="$('#dia-add-new').window('close')">Cancel</a>
            </div>
          </form>

          <script type="text/javascript">
            $('#btnAdd').click(function () {
              var node = $('#tt').tree('getSelected');
              if (node){
                $('#edit-upper-org').val(node.name);
                $('#edit-upper-org').attr("disabled",true);
              }
            });

            $('#btn-add-org-ok').click(function () {
              var node = $('#tt').tree('getSelected');
              if (node){

              }
              $('#dia-add-new').window('close');
            });

          </script>

        </div>
        <table class="easyui-datagrid" id="dg"
               data-options="singleSelect:true,fit:true,fitColumns:true">
          <thead>
          <tr>
            <th data-options="field:'name'" width="150">组织名称</th>
            <th data-options="field:'upperOrganization'" width="100">上级组织</th>
            <!--<th data-options="field:'organizationLevel'" width="80">组织层级</th>-->
            <th data-options="field:'createdAt'" width="80">创建时间</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div data-options="region:'south',split:true" style="height:50px;"></div>

</div>



<script type="text/javascript">
//  $(function () {
//    document.getElementById("ddd").innerHTML("<p>lfdsjfdsl</p>");
//  });

//$('#tt').tree({
//    onClick: function(node){
//      $('#aa').html(node.text);
//    }
//  });



$(document).ready(function(){

});

$(function(){

  $.ajax({
    method:'get',
    url: '/todos/cpy?id=1002',
    async : false,
    dataType : 'json',
    success: function (data) {
      $('#tt').tree('loadData', data);
      $("#tt").tree({
        onClick: function (node) {
          $("#aa").html(JSON.stringify(node));
          if(node.children == null && node.ajaxed == false){
            $.ajax({
              method : 'get',
              url : '/todos/org?id=' + node.id,
              async : false,
              dataType : 'json',
              success : function(data) {
                $('#tt').tree('append', {
                  parent:node.target,
                  data:data
                });
                //======
                $('#dg').datagrid('loadData', data);

              },
              error : function() {
                alert('error');
              }
            });
            node.ajaxed = true;
          }
          else {
            $('#dg').datagrid('loadData', node.children);
          }
        }
      });
    },
    error: function (err) {
      alert(err);
    }
  });


//  $.ajax({
//    method : 'GET',
//    url : '/todos/json',
//    async : false,
//    dataType : 'json',
//    success : function(data) {
//      $('#dg').datagrid('loadData', data);
//    }
//  });
});

//$(function(){
//  //do something
//  var node = $('#tt').tree('getSelected');
//  if (node){
//    $('#tt').tree('insert', {
//      before: node.target,
//      data: {
//        id: 21,
//        text: 'node text'
//      }
//    });
//  }
//})


//var node = $('#tt').tree('getSelected');
//if (node){
//  $('#tt').tree('insert', {
//    before: node.target,
//    data: {
//      id: 21,
//      text: 'node text'
//    }
//  });
//}

//var selected = $('#tt').tree('getSelected');
//$('#tt').tree('append', {
//  parent: selected.target,
//  data: [{
//    id: 23,
//    text: 'node23'
//  },{
//    text: 'node24',
//    state: 'closed',
//    children: [{
//      text: 'node241'
//    },{
//      text: 'node242'
//    }]
//  }]
//});


//$('#tt').tree({
//  data: [{
//    text: 'Item1',
//    state: 'closed',
//    children: [{
//      text: 'Item11'
//    },{
//      text: 'Item12'
//    }]
//  },{
//    text: 'Item2'
//  }]
//});




//  $.ajax({
//    type: 'GET',
//    url: '/static/tree_data1.json',
//    success: function (result) {
//      var myJson = eval('(' + result + ')');
//      $('#tt').tree({
//        data: myJson
//      });
//    }
//  });



//$('#tt').tree({
//    onClick: function(node){
//      $('#aa').html(node.text);
////      alert(node.name);  // 在用户点击的时候提示
//      if (node){
//        $('#tt').tree('insert', {
//          before: node.target,
//          data: datatest
//        });
//      }
//    }
//  });

</script>
</body>
</html>